# KiCad temporary files
*-backups/
*-bak
*.bak
*.bck
*-cache.lib
*-rescue.lib
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
fp-info-cache
auto_saved_files/
*.lck
~*.lck

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor files
*~
*.swp
*.swo